# Server
PORT=3000
NODE_ENV=development

# Database
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=db
DB_USER=db_user
DB_PASS=db_pw

# JWT
JWT_SECRET=kunci_rahasia_jwt
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
